body {
  font-size: 18px;
  font-family: Times New Roman;
  background-color: #8FBC8F;
  margin: 0px;
}
#navbar {
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #F0FFF0;
  padding: 10px;
}
header {
  margin: 30px 10px;
  font-weight: bold;
}
#navbar > ul {
  list-style: none;
}
#navbar a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  display: block;
  margin: 10px 0;
} 
#navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#navbar a[href="#Descarga_tu_musica"] {
  margin-right: 40px;
}
#main-doc {
  margin: 90px auto 300px auto;
}
.main-section {
  background-color: #E0FFFF;
  padding: 2rem;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 800px;
}
code {
 display: inline-block;
 background-color: #f4f4f4;
 border-radius: 5px;
 margin: 0 2px;
 padding: 2px 6px;
 color: #333;
 font-family: Courier New;
 font-size: 16px;
}
@media(min-width:1024px){
  #navbar {
   position: fixed;
   left: 0;
   top: 0; 
   width: 200px;
   height: 100vh;
   z-index: 1000;
   background: #f1f8f2;
   border-bottom: 2px solid black;
  }
  #main-doc {
    margin-left: 260px;
  }